<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="shortcut icon" type="image/png" href="/images/favicon.png"/>
    <link href='https://fonts.googleapis.com/css?family=Roboto:300,400,500,700,900' rel='stylesheet' type='text/css'>

    <!-- Page title -->
    <title>LikeMarket | Накрутка лайков</title>

    <!-- Vendor styles -->
    <link rel="stylesheet" href="vendor\fontawesome\css\font-awesome.css">
    <link rel="stylesheet" href="vendor\animate.css\animate.css">
    <link rel="stylesheet" href="vendor\bootstrap\css\bootstrap.css">
    <link rel="stylesheet" href="vendor\toastr\toastr.min.css">

    <!-- App styles -->
    <link rel="stylesheet" href="styles\pe-icons\pe-icon-7-stroke.css">
    <link rel="stylesheet" href="styles\pe-icons\helper.css">
    <link rel="stylesheet" href="styles\stroke-icons\style.css">
    <link rel="stylesheet" href="styles\style.css">

    <!-- Chatra {literal} -->
    <script>
        window.ChatraSetup = {
            colors: {
                buttonText: '#FFFFFF', /* цвет текста кнопки чата */
                buttonBg: '#F7AF3E'    /* цвет фона кнопки чата */
            }
        };
        
        (function(d, w, c) {
            w.ChatraID = 'pmEAGvr6z2Zo4W6JE';
            ChatraGroupID = 'KrDHw4joyyr5X4xXc';
            var s = d.createElement('script');
            w[c] = w[c] || function() {
                (w[c].q = w[c].q || []).push(arguments);
            };
            s.async = true;
            s.src = 'https://call.chatra.io/chatra.js';
            if (d.head) d.head.appendChild(s);
            Chatra('setIntegrationData', {
                name: 'Восстанавливает пароль'
            });
        })(document, window, 'Chatra');
    </script>
    <!-- /Chatra {/literal} -->

    <%- include('YandexMetrika'); %>
</head>
<body class="blank">

<!-- Wrapper-->
<div class="wrapper">


    <!-- Main content-->
    <section class="content">

        <div class="container-center animated slideInDown">


            <div class="view-header">
                <div class="header-icon">
                    <i class="pe page-header-icon pe-7s-id"></i>
                </div>
                <div class="header-title">
                    <h3>Восстановление пароля</h3>
                    <small>
                        Забыли пароль? Не беда!
                    </small>
                </div>
            </div>

            <div class="panel panel-filled">
                <div class="panel-body">
                    <% if (need_fields) { %>
                        <form action="index.html" id="loginForm" novalidate="">
                            <div class="form-group">
                                <label class="control-label" for="email">Логин или почта</label>
                                <input type="text" placeholder="example@gmail.com" title="Введите вашу почту или логин" id="data" class="form-control">
                                <span class="help-block small">Мы отправим новый пароль на вашу почту</span>
                            </div>
                            <div>
                                <a class="btn btn-accent" id="send">Отправить новый пароль</button>
                                <a class="btn btn-default" href="/login">Отмена</a>
                            </div>
                        </form>
                     <% } else { 
                            if (password) { %>
                            <h4 style="text-align: center;">Ваш новый пароль:</h4>
                            <a style="margin:auto; text-align:center; display:block; font-size: 16px;"><%= password %></a>
                            
                            <div style="text-align: center;">
                                <small>Сменить данный пароль можно в разделе <a href="https://dev.like-market.ru/profile" style="color: #f6a821">Профиль</a></small>
                            </div>
                         <% } else { %>
                            <h4 style="text-align: center;">Ссылка не активна</h4>
                            <!-- Тут если токен не верный -->
                         <% }
                        } %>
                </div>
            </div>

        </div>
    </section>
    <!-- End main content-->

</div>
<!-- End wrapper-->

<!-- Vendor scripts -->
<script src="vendor\pacejs\pace.min.js"></script>
<script src="vendor\jquery\dist\jquery.min.js"></script>
<script src="vendor\bootstrap\js\bootstrap.min.js"></script>
<script src="vendor\toastr\toastr.min.js"></script>

<!-- App scripts -->
<script src="scripts\luna.js"></script>
<script src="scripts\forgotPassword.js"></script>

</body>

</html>