<% /** * Верхняя часть * @param user [object] - объект пользователя */ %>
<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container-fluid">
    <div class="navbar-header">
      <div id="mobile-menu">
        <div class="left-nav-toggle">
          <a href="#"> <i class="stroke-hamburgermenu"></i> </a>
        </div>
      </div>
      <a class="navbar-brand" href="tasks">Like-Market</a>
    </div>
    <div id="navbar" class="navbar-collapse collapse">
      <div class="left-nav-toggle">
        <a href=""> <i class="stroke-hamburgermenu"></i> </a>
      </div>
      <ul class="nav navbar-nav navbar-right">
        <li class="dropdown">
          <a href="versions.htm"
            >Баланс
            <span class="label-balance label-warning">
              <%= (user.balance / 100).toFixed(2) %>₽
            </span>
          </a>
        </li>
        <li class="profil-link">
          <a href="profile">
            <span class="profile-address"><%= user.username %></span>
            <img src="images\profile.jpg" class="img-circle" alt="" />
          </a>
        </li>
      </ul>
    </div>
  </div>
</nav>
