<!DOCTYPE html>
<html lang="ru">

<head>

	<meta charset="utf-8">

	<title>LikeMarket | Накрутка лайков</title>
	<meta name="description" content="LIKE-MARKET.RU - сервис накрутки VK">

	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

	<meta property="og:image" content="path/to/image.jpg">
	<link rel="shortcut icon" href="images/favicon.png" type="image/x-icon">
	<link rel="apple-touch-icon" href="images/favicon/apple-touch-icon.png">
	<link rel="apple-touch-icon" sizes="72x72" href="images/favicon/apple-touch-icon-72x72.png">
	<link rel="apple-touch-icon" sizes="114x114" href="images/favicon/apple-touch-icon-114x114.png">

	<!-- Chrome, Firefox OS and Opera -->
	<meta name="theme-color" content="#000">
	<!-- Windows Phone -->
	<meta name="msapplication-navbutton-color" content="#000">
	<!-- iOS Safari -->
	<meta name="apple-mobile-web-app-status-bar-style" content="#000">

	<link rel="stylesheet" href="styles/main.min.css">

        <%- include('YandexMetrika'); %>
</head>
<body>

	<div class="container">
		<header class="header">
			<h1>
				LIKE-MARKET.RU
			</h1>
			<div class="header__title">
				<img src="./images/like.png" alt="">
				<h1>
					Сервис для накрутки VK
				</h1>
				<p>Накручивай лайки, комментарии, репосты в 1 клик!</p>
				<p>Увеличь охват постов прямо сейчас!</p>
			</div>

			<div class="divider"></div>

			<div class="flex flex__space-between flex__align-center">
				<div class="flex__item">
					<a href="https://like-market.ru/login" class="button">Вход</a>
				</div>
				<div class="flex__item">
					<a href="https://like-market.ru/register" class="button">Регистрация</a>
				</div>
			</div>

			<div class="whatwedo">
				<h1>Что мы умеем накручивать?</h1>
				<div class="flex flex__center flex__align-center">
					<div>

					</div>
					<div>
						
					</div>
				</div>
				<div class="whatwedo__sections">
					<div>
						<h2>Лайки</h2>
						<p>Мгновенный старт накрутки, без задержек и проблем, 
								только живые страницы, никаких ботов!
								Возможность выбора скорости накрутки: от быстрой 
								до интервальной</p>
					</div>
					<div>
						<h2>Комментарии</h2>
						<p>Без комментариев никуда, крутим до 3.5к на 1 запись!
								Возможность выбора скорости накрутки, 
							 типов комментариев (от стикеров до своих баз коментов)</p>
					</div>
					<div>
						<h2>Репосты</h2>
						<p>Здесь все просто и понятно,
								повышаем виральный охват своих записей!
								Мгновенный старт, без задержек, все как надо ;)</p>
					</div>
				</div>
				
				<div class="divider"></div>

				<a href="https://like-market.ru/register" class="button button-nakrutka">Накрутить</a>
			</div>
		</header>

		<section class="advances">
			<h2>Преимущества LIKE-MARKET</h2>

			<div class="row">
				<div class="col-sm-6 col-xs-12">
					<img src="./images/find.png" alt="">
					<h3>Постхантер</h3>
					<p>Найдём все твои рекламные посты или просто контент в сообществе и все сами накрутим. Даешь отдых админам :) Возможность настройки постхантера: от кол-ва накрутки на пост заканчивая поиском постов по ключевым словам и ссылкам.</p>
				</div>

				<div class="col-sm-6 col-xs-12">
					<img src="./images/chat.png" alt="">
					<h3>Свои комментарии</h3>
					<p>Хочешь крутить определенные комментарии под контент своего сообщества или под рекламу определенных товаров и услуг? теперь это возможно! добавляй свои базы коментов в панели и накручивай их :)</p>
				</div>
			</div>

			<div>
				<img src="./images/money-bag.png" alt="">
				<h3>Пополнение в автоматическом режиме</h3>
				<h4>само собой без комиссии, бро!</h4>
				<h4>Поддерживаем все популярные платежные системы</h4>
			</div>

			<div>
				<img src="./images/headphones.png" alt="">
				<h3>Поддержка</h3>
				<h4>Почти 24/7 готовы прийти на помощь и ответить на Ваши вопросы.</h4>
				<h4>Поддержка у нас представлена в виде чата в правом нижнем углу сайта</h4>
				<h4>(Доступно после регистрации) или через раздел контакты.</h4>
			</div>
			
			<div>
				<img src="./images/cursor.png" alt="">
				<h3>Крутим в 1 клик!</h3>
				<h4>Больше не нужно переходить в разные разделы накрутки, все в 1 месте :)</h4>
			</div>

			<div>
				<img src="./images/api.png" alt="">
				<h4>Программист? мы тебя поняли и сделали API</h4>
			</div>
		</section>
	</div>
</body>
</html>
