/* h1, h2, h3, h4, h5, h6 {
    color: #FFFFFF;
}

.panel.panel-filled {
  background-color: rgba(68, 70, 79, 0.5);
}

.desc {
  margin-top: 90px;
  margin-bottom: 90px;
  padding: 30px 25px;
}

.prime {
  background-color: #2a2d35;
  padding-top: 30px;
  padding-bottom: 30px;
  text-align: center;
}

.primes {
  padding-top: 40px;
  padding-bottom: 40px;
}

.content:before {
  content: '';
  position: fixed;
  top: 0;
  bottom: 0;
  z-index: -2;
  left: 0;
  right: 0;
  background-image: radial-gradient(center, circle cover, #393b45 0%, #2d3038 70%);
  background-image: -webkit-radial-gradient(top, circle cover, #393b45 0%, #2d3038 70%);
  background-image: -moz-radial-gradient(center, circle cover, #393b45 0%, #2d3038 70%);
  background-image: -o-radial-gradient(center, circle cover, #393b45 0%, #2d3038 70%);
  background-position: 50%, 50%;
}

.navbar__main {
  background-color: #f6a821 !important;
} */

nav ul a,
nav .brand-logo {
  color: #444;
}

p {
  line-height: 2rem;
}

.sidenav-trigger {
  color: #26a69a;
}

.parallax-container {
  min-height: 380px;
  line-height: 0;
  height: auto;
  color: rgba(255, 255, 255, 0.9);
}
.parallax-container .section {
  width: 100%;
}

@media only screen and (max-width: 992px) {
  .parallax-container .section {
    position: absolute;
    top: 40%;
  }
  #index-banner .section {
    top: 10%;
  }
}

@media only screen and (max-width: 600px) {
  #index-banner .section {
    top: 0;
  }
}

.icon-block {
  padding: 0 15px;
}
.icon-block .material-icons {
  font-size: inherit;
}

footer.page-footer {
  margin: 0;
}
.white {
  background-color: transparent !important;
  position: absolute;
  box-shadow: none;
  z-index: 12;
}
.container {
  color: #737373 !important;
}
.teal-text.text-lighten-2 {
  color: #03a9f4 !important;
}
.no-pad-bot {
  background: radial-gradient(circle at center, #f9f9f9, #fff);
  padding-top: 110px;
  z-index: 11;
  padding-bottom: 110px;
}
nav ul a,
nav .brand-logo {
  color: #d1403f;
}
.teal-text.text-lighten-2 {
  color: #0a0a0a !important;
  font-size: 35px;
  margin-bottom: 7px;
  font-weight: 700;
  margin-top: 18px;
}
.main-btn {
  background-color: #2196f3 !important;
  padding: 0px 29px;
  height: 42px;
  line-height: 42px;
  border-radius: 23px;
  text-transform: inherit;
}
.header {
  font-weight: 300;
}

#logo-container {
  position: absolute;
  display: inline-block;
  font-size: 18px !important;
  padding: 0;
  font-weight: 700 !important;
}
.parallax-container {
  min-height: 600px;
  line-height: 0;
  height: auto;
  color: rgba(255, 255, 255, 0.9);
}
.reg-btn {
  background: #2196f3;
  height: 3px;
  color: #0a0a0a;
}
.auth-btn {
  color: #0a0a0a;
}
#logo-container {
  box-shadow: 0 0 40px rgba(0, 0, 0, 0.05);
  padding: 11px;
  background: white;
  line-height: 0px;
  margin-top: 16px;
  border-radius: 50%;
}
.sec-2 {
  background: #ffffff;
  padding-bottom: 60px;
  padding-top: 60px;
}
.brown-text {
  color: #565656 !important;
  font-size: 56px;
  padding-bottom: 19px;
}
.sec-2 h3 {
  text-align: center;
  font-size: 27px;
  color: #4c4c4c;
  font-weight: 600;
  padding-bottom: 14px;
}
.sec-2 .light {
  text-align: center;
}
.sec-2 h4 {
  text-align: center;
  margin: 0;
  font-size: 18px;
  color: #03a9f4;
  margin-bottom: -19px;
  font-weight: 100;
}
.sec-3 {
  background: radial-gradient(circle at center, #f5f5f5, #fff);
  padding-bottom: 60px;
  padding-top: 60px;
  text-align: center;
}
.sec-3 p {
  font-size: 18px;
  font-weight: 400;
}
.t-main {
  background-color: #737373 !important;
  box-shadow: none;
}
.sec-info {
  border-color: #ffffff !important;
  box-shadow: 0 0 40px rgba(0, 0, 0, 0.05);
  padding-bottom: 20px;
  padding-top: 20px;
  border-radius: 16px;
  background: #ffffff;
  color: #484848;
  margin-top: 21px;
}
