<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />

        <link rel="shortcut icon" type="image/png" href="/images/favicon.png" />
        <link
            href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700,900"
            rel="stylesheet"
            type="text/css"
        />

        <!-- Page title -->
        <title>LikeMarket | Накрутка лайков</title>

        <!-- Vendor styles -->
        <link rel="stylesheet" href="vendor\fontawesome\css\font-awesome.css" />
        <link rel="stylesheet" href="vendor\animate.css\animate.css" />
        <link rel="stylesheet" href="vendor\bootstrap\css\bootstrap.css" />

        <!-- App styles -->
        <link rel="stylesheet" href="styles\pe-icons\pe-icon-7-stroke.css" />
        <link rel="stylesheet" href="styles\pe-icons\helper.css" />
        <link rel="stylesheet" href="styles\stroke-icons\style.css" />
        <link rel="stylesheet" href="styles\style.css" />

        <%- include('YandexMetrika'); %>
    </head>
    <body>
        <!-- Wrapper -->
        <div class="wrapper">
            <!-- Header -->
            <%- include('header', { user }); %>
            <!-- End header -->

            <!-- Navigation -->
            <%- include('navigation', {user, page: 'support'}); %>
            <!-- End navigation -->

            <!-- Main content -->
            <section class="content">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="view-header">
                                <div class="header-icon">
                                    <i class="pe page-header-icon pe-7s-help2"></i>
                                </div>
                                <div class="header-title">
                                    <h3>Помощь</h3>
                                    <small> Ответы на часто задаваемые вопросы </small>
                                </div>
                            </div>
                            <hr />
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-4">
                            <div class="panel-group">
                                <ul class="list-unstyled">
                                    <li class="panel panel-filled support-question active">
                                        <a href="#answer1" data-toggle="tab">
                                            <div class="panel-body">
                                                <p class="font-bold c-white">Условия пользования</p>
                                                <p>
                                                    Используя сервис like market, пользователь
                                                    соглашается с изложенными правилами.
                                                </p>
                                            </div>
                                        </a>
                                    </li>
                                    <li class="panel panel-filled support-question">
                                        <a href="#answer2" data-toggle="tab">
                                            <div class="panel-body">
                                                <p class="font-bold c-white">Ответственность</p>
                                                <p>
                                                    Мы являемся независимым предприятием, оказывающим
                                                    услуги, и самостоятельно принимаем решения о ценах и
                                                    предложениях.
                                                </p>
                                            </div>
                                        </a>
                                    </li>
                                    <li class="panel panel-filled support-question">
                                        <a href="#answer3" data-toggle="tab">
                                            <div class="panel-body">
                                                <p class="font-bold c-white">Постхантер</p>
                                                <p>
                                                    Автоматическая накрутка лайков/комментов для вашей группы или страницы
                                                </p>
                                            </div>
                                        </a>
                                    </li>
                                    <li class="panel panel-filled support-question">
                                        <a href="#answer4" data-toggle="tab">
                                            <div class="panel-body">
                                                <p class="font-bold c-white">Оплата</p>
                                                <p>
                                                 Мы принимаем Яндекс, QIWI, Карты, Мобильный платежи в автоматическом режиме.
                                                </p>
                                            </div>
                                        </a>
                                    </li>
                                    <li class="panel panel-filled support-question">
                                        <a href="#answer5" data-toggle="tab">
                                            <div class="panel-body">
                                                <p class="font-bold c-white">Контакты для связи</p>
                                                <p>
                                                 Как с нами связаться
                                                </p>
                                            </div>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-md-8">
                            <div class="panel">
                                <div class="panel-body">
                                    <div class="tab-content">
                                        <div id="answer1" class="tab-pane active">
                                            <h3>Условия пользования сайтом</h3>
                                            <ul>
                                                <li>
                                                    Like-market.ru может быть использован для добавления
                                                    лайков, комментариев и просмотров к материалам на
                                                    сервисе Вконтакте.
                                                    Такого рода активность противоречит правилам
                                                    перечисленных сервисов. Пользователь понимает и
                                                    соглашается с тем, что все риски, связанные с этим
                                                    фактом, он целиком и полностью берет на себя.
                                                    Like-market.ru старается обеспечить максимальное
                                                    качество добавляемых лайков, подписчиков и просмотров.
                                                    Однако всегда существует вероятность действий третьих
                                                    сторон, например, администрации сайта, которые могут
                                                    привести к блокировке подписавшихся или проставивших
                                                    лайки аккаунтов, а также их удалению. Like-market.ru
                                                    не несет ответственности за такие действия, и все
                                                    подобные риски принимает пользователь.
                                                </li>
                                                <li>
                                                    Используя сервис Like-market.ru, пользователь
                                                    обязуется не предпринимать никаких действий, которые
                                                    могут принести вред аккаунтам, от которых получены
                                                    лайки, подписки или просмотры, включая занесение их в
                                                    черный список своей страницы и удаление лайков, что
                                                    также приводит к автоматическому занесению аккаунта,
                                                    от которого получен лайк, в черный список страницы. В
                                                    случае выявления таких, или других действий, носящих
                                                    деструктивный характер, допустившим нарушение
                                                    страницам будет навсегда запрещено использование
                                                    сервиса Like-market.ru
                                                </li>
                                                <li>
                                                    Работоспособность Like-market.ru полностью связана с
                                                    работоспособностью социальных сетей. В случае, если
                                                    социальные сети недоступны или качество сервиса
                                                    соцсети деградировало, в работе Like-market.ru также
                                                    могут наблюдаться перебои вплоть до полной
                                                    неработоспособности. Like-market.ru не несет
                                                    ответственности за любые нереализованные пользователем
                                                    возможности в таком случае.
                                                </li>
                                                <li>
                                                    Пользователь соглашается с тем, что Like-market.ru -
                                                    это ПО, не свободное от ошибок. В ходе его работы,
                                                    возможны сбои, ошибки и другие ситуации, которые
                                                    приводят к невозможности нормально воспользоваться
                                                    сервисом. Like-market.ru снимает с себя
                                                    ответственность за возможные потери или упущенные
                                                    возможности во всех случаях.
                                                </li>
                                            </ul>
                                        </div>

                                        <div id="answer2" class="tab-pane">
                                            <h3>Уведомление об ответственности</h3>
                                            <p>
                                                Мы являемся независимым предприятием,
                                                оказывающим услуги, и самостоятельно принимаем решения о
                                                ценах и предложениях.
                                            </p>
                                        </div>
                                        <div id="answer3" class="tab-pane">
                                            <h3>Постхантер</h3>
                                            <p>Автоматический поиск новых постов на вашей стене группы/страницы и создание заданий по накрутке., тем самым повышая охват и активность сообщеста/страницы ВКонтакте.</p>
                                            <p>
                                                Как пользоваться:<br/>
                                                1. Укажите название задачи<br/>
                                                2. Укажите ссылку на сообщество, в котором будет работать ПостХантер<br/>
                                                3. Укажите количество лайков, которое будем крутить на каждый новый пост. Можете указать количество ОТ и ДО, тогда ПостХантер будет выбирать рандомное число между заданным Вами числами. (На каждый новый пост рандомное значение между задаными).<br/>
                                                4. Таким же образом, что с Лайками (п.3) указываем количество комментариев для накрутки на каждую новую запись.<br/>
                                                5. Выбираем набор комментариев, который будет использоваться для накрутки.<br/>
                                                6. Profit. Ждем повышения охватов и активности!
                                            </p>
                                        </div>
                                        <div id="answer4" class="tab-pane">
                                            <h3>Правила оплаты</h3>
                                            <p>Оплату можно произвести в разделе - <a href="/payment" target="_blank">Финансы</a></p>
                                            <p>Мы принимаем Яндекс, QIWI, Карты, Мобильный платежи в автоматическом режиме. (Оплата WebMoney в процессе добавления в нашу систему, как добавим - сразу оповестим в нашем telegram канале)</p>
                                            <p>
                                                Вы пополняете баланс и деньги сразу же будут доступны на
                                                балансе сервиса Like-Market. Использовать услуги сервиса
                                                можно сразу же после оплаты. Возврат не производим. Все
                                                деньги должны быть потрачены на услуги сервиса.
                                            </p>
                                            <p>
                                                Так же, оплата WebMoney и другими платежными системами, которых у нас нет на данный момент, возможна напрямую через нашего менеджера в telegram - <a href="https://tgdo.me/olkaf" target="_blank">@olkaf</a>. Пишите, поможем пополнить баланс :)
                                            </p>
                                        </div>
                                        <div id="answer5" class="tab-pane">
                                            <h3>Наши контакты для связи</h3>
                                            <p>
                                                Телеграм: <a href="https://tgdo.me/like_market" target="_blank">@like_market</a><br/>
                                                Админ: <a href="https://tgdo.me/tony3stark" target="_blank">@tony3stark</a>
                                                <small>(Писать только по важным вопросам)</small><br/>
                                                Менеджер: <a href="https://tgdo.me/olkaf" target="_blank">@olkaf</a><br/>
                                            </p>
                                            <p>
                                                Отвечаем в среднем в течении 5-20 минут, почти 24/7
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <!-- End main content -->
        </div>
        <!-- End wrapper -->

        <!-- Vendor scripts -->
        <script src="vendor\pacejs\pace.min.js"></script>
        <script src="vendor\jquery\dist\jquery.min.js"></script>
        <script src="vendor\bootstrap\js\bootstrap.min.js"></script>

        <!-- App scripts -->
        <script src="scripts\luna.js"></script>
    </body>
</html>
