<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link href='http://fonts.googleapis.com/css?family=Roboto:300,400,500,700,900' rel='stylesheet' type='text/css'>

    <!-- Page title -->
    <title>LikePanel | Накрутка лайков</title>

    <!-- Vendor styles -->
    <link rel="stylesheet" href="vendor\fontawesome\css\font-awesome.css">
    <link rel="stylesheet" href="vendor\animate.css\animate.css">
    <link rel="stylesheet" href="vendor\bootstrap\css\bootstrap.css">

    <!-- App styles -->
    <link rel="stylesheet" href="styles\pe-icons\pe-icon-7-stroke.css">
    <link rel="stylesheet" href="styles\pe-icons\helper.css">
    <link rel="stylesheet" href="styles\stroke-icons\style.css">
    <link rel="stylesheet" href="styles\style.css">
</head>
<body>

<!-- Wrapper-->
<div class="wrapper">

    <!-- Header-->
    <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container-fluid">
            <div class="navbar-header">
                <div id="mobile-menu">
                    <div class="left-nav-toggle">
                        <a href="#">
                            <i class="stroke-hamburgermenu"></i>
                        </a>
                    </div>
                </div>
                <a class="navbar-brand" href="index.htm">
                    Like
                    <span>v.1.0</span>
                </a>
            </div>
            <div id="navbar" class="navbar-collapse collapse">
                <div class="left-nav-toggle">
                    <a href="">
                        <i class="stroke-hamburgermenu"></i>
                    </a>
                </div>
                <ul class="nav navbar-nav navbar-right">
                    <li class=" profil-link">
                        <a href="login.htm">
                            <span class="profile-address"><%= login %></span>
                            <img src="images\profile.jpg" class="img-circle" alt="">
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <!-- End header-->

    <!-- Navigation-->
    <aside class="navigation">
        <nav>
            <ul class="nav luna-nav">
                <li class="nav-category">
                    Основное меню
                </li>
                <li>
                    <a href="index">Главная</a>
                </li>
                <li class="active">
                    <a href="#uielements" data-toggle="collapse" aria-expanded="false">
                        Накрутка<span class="sub-nav-icon"> <i class="stroke-arrow"></i> </span>
                    </a>
                    <ul id="uielements" class="nav nav-second collapse in">
                        <li class="active"><a href="tasks">Все задачи</a></li>
                        <li><a href="addtask">Создать задачу</a></li>
                    </ul>
                </li>
                <li>
                    <a href="profile">Профиль</a>
                </li> 
                <li>
                    <a href="news">Новости</a>
                </li>
                <li>
                    <a href="support">Помощь</a>
                </li>

                <li class="nav-info">
                    <div class="m-t-xs">
                        <span class="c-white">LikePanel</span> сервис для накрутки лайков.
                    </div>
                </li>
            </ul>
        </nav>
    </aside>
    <!-- End navigation-->


    <!-- Main content-->
    <section class="content">
        <div class="container-fluid">

            <div class="row">
                <div class="col-lg-12">
                    <div class="view-header">
                        <div class="header-icon">
                            <i class="pe page-header-icon pe-7s-box1"></i>
                        </div>
                        <div class="header-title">
                            <h3>Задачи</h3>
                            <small>
                                Список всех задач
                            </small>
                        </div>
                    </div>
                    <hr>
                </div>
            </div>



            <div class="row">
                <div class="col-md-12">

                    <div class="panel panel-filled">
                        <div class="panel-body">
                            <div class="row">
                                <div class="col-lg-6">
                                    <div class="input-group m-b-xs m-t-xs">
                                        <input class="form-control" type="text" placeholder="Поиск по названию или URL" style="width: 100%">
                                        <div class="input-group-btn">
                                            <button class="btn btn-default"><i class="fa fa-search"></i></button>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-3">
                                    <select class="form-control m-b-xs m-t-xs" name="account" style="width: 100%">
                                        <option selected="">Выберите статус
                                        <option>Активна
                                        <option>Завершена
                                    </select>
                                </div>
                                <div class="col-lg-3">
                                    <select class="form-control m-t-xs" name="account" style="width: 100%">
                                        <option selected="">Сортировка по:
                                        <option>Статусу
                                    </select>
                                </div>
                            </div>
                        </div>
                    </div>

                    <% if (tasks != null) { %>
                        <div class="panel">
                            <div class="panel-body">
                                <div class="table-responsive">
                                <table class="table table-vertical-align-middle">
                                    <thead>
                                    <tr>
                                        <th>
                                            Статус
                                        </th>
                                        <th>
                                            Название и URL
                                        </th>
                                        <th>
                                            Заказано лайков
                                        </th>
                                        <th>
                                            Прогресс
                                        </th>
                                        <th class="text-right">
                                            Действие
                                        </th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <%- include('taskslist', {tasks: tasks}); %>
                                    </tbody>
                                </table>
                                </div>
                            </div>
                        </div>
                    <% }else { %>
                        <h3>У вас еще нет задач</h3>
                        <h5>Вы можете создать их <a href="addtask">здесь</a></h5>
                    <% } %>
                </div>
            </div>
            <!-- <div class="pull-right">
                <ul class="pagination pagination-sm">
                <li class="disabled"><a href="#">Previous</a></li>
                    <li class="active"><a href="#">1</a></li>
                    <li><a href="#">2</a></li>
                    <li><a href="#">3</a></li>
                    <li><a href="#">Next</a></li>
                </ul>
            </div> -->

        </div>
    </section>
    <!-- End main content-->

</div>
<!-- End wrapper-->

<!-- Vendor scripts -->
<script src="vendor\pacejs\pace.min.js"></script>
<script src="vendor\jquery\dist\jquery.min.js"></script>
<script src="vendor\bootstrap\js\bootstrap.min.js"></script>

<!-- App scripts -->
<script src="scripts\luna.js"></script>


<!-- App scripts -->
<script src="scripts\luna.js"></script>


</body>

</html>